body{
    background: #04013c;
    background: linear-gradient(90deg, rgb(9, 4, 104) 0%, rgba(57,57,166,1) 50%, rgb(39, 160, 184) 100%);
    color: #d7dde1;
    margin: 15px 15px;
}
header{
    margin-top: 40px;
    margin-bottom: 10px;
    height: 80px;
    text-align: center;
    font-size: 20px;
}
#corpo{
    display: grid;
    grid-template-columns: 20fr 1fr;
    text-indent: 10px;
    height: auto;
    width: 500px;
    word-wrap: normal;
    margin: auto;
}
#links{
    padding-left: 15px;
    width: 200px;
    text-align: justify;
    margin: 5px 10px;
}
button{
    color: #000000;
    background-color: #f9f9aef1;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px #393927f1;
}
a{
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
}
p{
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
.corpoBotao{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.grupoBotao{
    display: flex;
    flex-direction: column;
}
#fundoBotao{
    margin: auto;
    background-color: #ffffffb8;
    border: 3px solid #000000;
    border-radius: 10px;
    width: 480px;
    padding: 8px;
}