body{
    background: #04013c;
    background: linear-gradient(90deg, rgb(9, 4, 104) 0%, rgba(57,57,166,1) 50%, rgb(39, 160, 184) 100%);
    color: #000000;
}
h1{
    color: #d7dde1;
    text-align: center;
}
h2{
    text-align: center;
}
input{
    height: 22px;
    width: 140px;
    text-align: center;
    margin-bottom: 18px;
    border: 1px solid #000;
    border-radius: 5px;
}
p{
    font-size: 20px;
}
#reaj{
    margin: 8px;
    width: 95%;
    height: 50px;
}
#button{
    margin-left: 25%;
    height: 40px;
    width: 200px;
    font-size: 15px;
}
.resulFinal{
    margin: auto;
    color: #000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
#final{
    margin: auto;
    padding-left: 10px;
    height: 200px;
    width: 400px;
    background-color: #FFE4B5;
    border: 2px solid #000;
    text-indent: 18px;
}
#resul{
    margin: auto;
    padding-left: 10px;
    height: 250px;
    width: 400px;
    background-color: #FFE4B5;
    border: 2px solid #000;
}
#voltar{
    margin: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    text-decoration: none;
    color: #000;
    background-color: #d7dde1;
    height: 24px;
    width: 50px;
    border-radius: 5px;
}