body{
    background: #04013c;
    background: linear-gradient(90deg, rgb(9, 4, 104) 0%, rgba(57,57,166,1) 50%, rgb(39, 160, 184) 100%);
    color: #d7dde1;
    margin: 15px 15px;
    text-align: center;
    color: #000;
}
h1{
    color: #d7dde1;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 80px;
}
input{
    font-size: 20px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

#button{
    font-size: 12px;
    color: #000000;
    background-color: #f9f9aef1;
    padding: 8px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 4px 3px 3px #393927f1;
}
#voltar{
    margin: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    text-decoration: none;
    color: #000;
    background-color: #d7dde1;
    height: 24px;
    width: 50px;
    border-radius: 5px;
}

/* TABELAS E LISTAS (Guanabara)*/

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #372991;
    margin: 10px auto;
}

table th {
    background-color: #372991;
    color: #000000;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
    border: 1px solid #000000;
}

table.divisao td {
    background-color: #FFE4B5;
    padding: 20px;
    text-align: center;
    font-size: 2.3em;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}